@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
body {
  font-family: "Comfortaa", sans-serif;
}

.header {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 0; /* Установите начальное значение прозрачности элемента на 0 */
  animation: header 2s ease forwards;
}
.header .header__left {
  cursor: pointer;
}
.header .header__middle,
.header .header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header__middle .header__nav__btn,
.header .header__right .header__nav__btn {
  color: #fff;
  padding: 7px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
}
.header .header__middle .header__nav__btn:hover,
.header .header__right .header__nav__btn:hover {
  backdrop-filter: blur(13px);
  background-color: rgba(142, 142, 143, 0.71);
  border-radius: 5px;
  transition: 0.3s;
}

.header-model {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 0; /* Установите начальное значение прозрачности элемента на 0 */
  animation: header 2s ease forwards;
}
.header-model .header__left {
  cursor: pointer;
}
.header-model .header__middle,
.header-model .header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-model .header__middle .header__nav__btn,
.header-model .header__right .header__nav__btn {
  color: #000;
  padding: 7px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
}
.header-model .header__middle .header__nav__btn:hover,
.header-model .header__right .header__nav__btn:hover {
  backdrop-filter: blur(13px);
  background-color: rgba(142, 142, 143, 0.71);
  border-radius: 5px;
  transition: 0.3s;
}

.wrapper .video-container {
  z-index: 6;
}
.wrapper .video-container .teaser {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(60%);
}
.wrapper .video-container .header__titles {
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.wrapper .video-container .header__titles .titles__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.wrapper .video-container .header__titles .titles__cont .title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  opacity: 0; /* Установите начальное значение прозрачности элемента на 0 */
  animation: title 3s ease forwards; /* Применяем анимацию с продолжительностью 2 секунды */
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}
.wrapper .video-container .header__titles .titles__cont .subtitle {
  color: #fff;
  opacity: 0; /* Установите начальное значение прозрачности элемента на 0 */
  animation: subtitle 6s ease forwards; /* Применяем анимацию с продолжительностью 2 секунды */
  transform: translateY(80px);
  transition: opacity 1s ease, transform 1s ease;
}
.wrapper .video-container .header__titles .titles__btn {
  padding-bottom: 100px;
  display: flex;
}
.wrapper .video-container .header__titles .titles__btn .btn {
  color: #fff;
  padding: 8px 80px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  font-weight: 700;
  opacity: 0; /* Установите начальное значение прозрачности элемента на 0 */
  animation: btn 6s ease forwards; /* Применяем анимацию с продолжительностью 2 секунды */
}

/* scroll-behavior: smooth; */
.cont-sect {
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  object-fit: cover;
}
.cont-sect .cars__title {
  text-align: center;
  margin-bottom: 400px;
}
.cont-sect .cars__title .name {
  margin-bottom: 15px;
  font-size: 40px;
  color: #000;
  font-weight: 700;
}
.cont-sect .cars__title .price {
  margin-bottom: 7px;
}
.cont-sect .cars__btn {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}
.cont-sect .cars__btn .explore,
.cont-sect .cars__btn .custom {
  width: 280px;
  padding: 12px 0;
  border-radius: 5px;
  text-align: center;
}
.cont-sect .cars__btn .explore {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
.cont-sect .cars__btn .custom {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.cont-sect .cars__btn .explore:hover {
  border: 1px solid #000;
  padding: 11px 0;
}
.cont-sect .cars__btn .custom:hover {
  border: 1px solid #fff;
  padding: 11px 0;
}

.model-3,
.model-s,
.model-x,
.model-y {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.model-3 {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD");
}

.model-y {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop");
}

.model-s {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-LHD-6.22.jpg");
}

.model-x {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD");
}

@keyframes title {
  0% {
    opacity: 0; /* Начальное значение прозрачности анимации */
  }
  100% {
    transform: translateY(0);
    opacity: 1; /* Конечное значение прозрачности анимации */
  }
}
@keyframes subtitle {
  0% {
    opacity: 0; /* Начальное значение прозрачности анимации */
  }
  100% {
    transform: translateY(0);
    opacity: 1; /* Конечное значение прозрачности анимации */
  }
}
@keyframes btn {
  0% {
    opacity: 0; /* Начальное значение прозрачности анимации */
  }
  100% {
    opacity: 1; /* Конечное значение прозрачности анимации */
  }
}
@keyframes header {
  0% {
    opacity: 0; /* Начальное значение прозрачности анимации */
  }
  100% {
    opacity: 1; /* Конечное значение прозрачности анимации */
  }
}

/*# sourceMappingURL=style.css.map */
